.main {
    padding: 4.0rem;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #292929;
  }
  
  .main_areaTitle {
    text-align: center;
  
  }
  
  .main_titleText {
    color: #dfdfdf;
    font-weight: bold;
    font-size: 5.5vw;
    margin: 0px;
  }
  
  .main_subtitleText {
    color: #ACACAC;
    font-weight: bold;
    font-size: 3.0vw;
    margin: 0px;
  }
  
  .main_text {
    color: var(--color-text);
    font-size: 1.7rem;
  }
  
  .main_areaNotify {
    display: flex;
    flex-direction: column;
    background-color: var(--color-default);
    padding: 2.0rem;
    width: 100%;
  }
  
  .main_areaNotify p {
    font-size: 1.7rem;
    padding: 10px;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .main_areaNotify li {
    font-size: 1.7rem;
    color: var(--color-text);
    margin-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /*============================================================================*/
  
  .barraDivisoria {
    height: 30px;
    border-style: solid;
    border-color: var(--color-buttonDownload);
    border-width: 1.5px;
    border-radius: 30%;
  }
  
  .areaActions {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .areaActions .Hire, .areaActions .Download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .areaActions .texts h3 {
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0px;
  }
  
  .areaActions .texts p {
    color: #e6e6e6b0;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0px;
    width: 95%;
  }
  
  .areaActions button {
    all: unset;
    background-color: var(--color-default);
    padding: 10px;
    border-radius: 7.5px;
    font-size: 2.0rem;
    border-width: 2px;
    border-style: solid;
    transition: all 0.3s;
    cursor: pointer;
    border-width: 2px;
    border-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.0rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    width: 180px;
  }
  
  .areaActions .Download button {
    all: unset;
    background-color: var(--color-default);
    padding: 10px;
    border-radius: 7.5px;
    font-size: 2.0rem;
    border-width: 2px;
    border-style: solid;
    transition: all 0.3s;
    cursor: not-allowed;
    border-width: 2px;
    border-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.0rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    width: 180px;
  }
  
  .areaActions .iconButton {
    padding-left: 1.0rem;
    padding-right: 2.0rem;
    height: 23.5px;
    color: var(--color-buttonDownload);
  }
  
  .areaActions div p {
    color: var(--color-buttonDownload);
    font-size: 2.0rem;
    font-weight: 600;
    padding-right: 1.0rem;
    margin-left: 1.5rem;
  }
  
  /*
    AO LIBERAR O DOWNLOAD, BASTA RETIRAR A TAG .Hire DOS Hover
  */
  
  .areaActions .Hire button:hover {
    background-color: var(--color-default)00;
    border-color: var(--color-default);
    color: var(--color-text);
  }
  
  .areaActions .Hire button:hover .iconButton {
    color: var(--color-text);
  }
  
  .areaActions .Hire button:hover p {
    color: var(--color-text);
  }
  
  .areaActions .Hire button:hover .barraDivisoria {
    border-color: var(--color-text);
  }
  
  .areaActions .alert {
    background-color: var(--color-default-terciario);
    text-align: center;
    border-radius: 7.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .areaActions .alert .text1 {
    padding-top: 5px;
    font-weight: 500;
    font-size: 14.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #e6e6e6b0;
    margin: 0px;
  }
  
  .areaActions .alert .text2 {
    font-size: 10px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #e6e6e6b0;
    font-weight: 100;
    margin: 0px;
  }
  
  .areaActions a {
    color: var(--color-default);
  }

  .areaActions .Download h2 {
    color: var(--color-text-1);
    font-size: 25px;
    font-weight: bold;
  }

  .areaActions .Download span {
    color: var(--color-2);
  }
  
  /*============================================================================*/
  
  .main_areaInfoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
  }
  
  .main_areaInfo {
    
    color: var(--color-text);
    padding: 2.0vw;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main_areaInfo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-default);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-default-secundario);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 140px;
  }
  
  .main_areaInfo div p {
    padding: 0.1rem;
    font-size: 2.5rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  
  p.destaque {
    color: var(--color-title);
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
    margin-left: 10px;
  }
  
  p.nao_destaque {
    color: var(--color-title);
    font-weight: 100;
    margin: 0px;
    font-size: 1.7rem;
    margin-left: 10px;
  }


/*
  @media (max-width: 1024px) {
    .main_titleText {
      font-size: 5.0rem;
    }
  
    .main_subtitleText {
      font-size: 2.4rem;
    }
  }

  @media (max-width: 768px) {
    .main_titleText {
      font-size: 4.0rem;
    }
  
    .main_subtitleText {
      font-size: 2rem;
    }
  
    .main_areaDownload button {
      padding: 0.5rem;
      height: 2.8rem;
    }
    
    .main_areaDownload button p {
      font-size: 1.8rem;
      padding-right: 0.7rem;
    }

    
    .main_iconButton {
      padding-left: 0.8rem;
      height: 21.5px;
    }
    
    .barraDivisoria {
      height: 27.5px;
    }

    .areaActions .Hire, .areaActions .Download {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .areaActions .areaActionButton, .areaActions .alert {
      margin-top: 20px;
    }
  }

  @media (max-width: 548px) {
    .areaActions {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (max-width: 425px) {
    .main_titleText {
      font-size: 3.0rem;
    }
  
    .main_subtitleText {
      font-size: 2rem;
    }
  
    .main {
      padding: 2.0rem;
    }
  
    .main_areaDownload {
      flex-direction: column;
      margin: 40px 0px 40px 0px;
      align-items: normal;
    }
  
    .main_areaDownload button {
      padding: 0.5rem;
      height: 2.8rem;
    }
    
    .main_areaDownload button p {
      font-size: 1.8rem;
      padding-right: 0.7rem;
    }
    
    .main_iconButton {
      padding-left: 0.8rem;
      height: 21.5px;
    }
    
    .barraDivisoria {
      height: 27.5px;
    }
  }


  @media (max-width: 375px) {
    .main_titleText {
      font-size: 3rem;
    }
  
    .main_subtitleText {
      font-size: 2rem;
    }
  }


  @media (max-width: 320px) {
    .main_titleText {
      font-size: 2.9rem;
    }
  
    .main_areaNotify {
      padding: 7.5px;
    }
  
    .main_areaNotify li {
      font-size: 1.5rem;
    }
  }
  */

/* <==================> RESPONSIDADE <==================> */
@media screen and (max-width: 1280px) {/* FULL DESKTOP */

}

@media screen and (max-width: 1024px) {/* MIN DESKTOP */
  .areaActions {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {/* TABLET */
  .main_titleText {
    font-size: 8.0vw;
  }
  
  .main_subtitleText {
    font-size: 5.0vw;
  }

  .areaActions {
    padding-left: 10px;
    padding-right: 10px;
  }

  .areaActions .Hire, .areaActions .Download {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .areaActions button, .areaActions .alert {
    margin: 3vw;
  }

  .Hire, .Download {
    flex-direction: column;
  }
  
  .main_areaInfo {
    padding: 2.5vw;
    display: flex;
  }
}

@media screen and (max-width: 320px) {/* MOBILE */

}