.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    text-align: center;
}

.main .box {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main img {
    height: 50vh;
}

.main h1 {
    color: var(--color-text-1);
    font-size: 8rem;
}

.main p {
    color: var(--color-text-3);
    font-size: 1.8rem;
}

/* <==================> RESPONSIDADE <==================> */
@media screen and (max-width: 1280px) {/* FULL DESKTOP */

}

@media screen and (max-width: 1024px) {/* MIN DESKTOP */

}

@media screen and (max-width: 768px) {/* TABLET */
    .main .box {
        flex-direction: column;
    }

    .main h1 {
        font-size: 6rem;
    }
    
    .main p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 320px) {/* MOBILE */
    .main img {
        height: 250px;
    }

    .main h1 {
        font-size: 4rem;
    }
    
    .main p {
        font-size: 1.7rem;
    }
}